.appbar {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid grey;
  flex-direction: row !important;
  border-radius: 5px;
  background-color: lightgray !important;
  padding: 10px;
}
